@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

html {
  height: 100%;
}
.app{
  height: 100%;
  background-color: wheat;
  margin:0;
}
.fullpage{
  height: 100%;
  position: absolute;
  width: 100%;
}
.portfolio{
  background-color: aqua;
}
.aboutMe{
  background-color:blueviolet;
}
.blogPage{
  background-color: pink;
}
.homePage{
  background-color: yellow;
}
.navLinks{
  background-color: tomato;
}
#navBar{
  width: 50%;
  text-align: center;
  position: absolute;
  right: 0px;
  margin-top: 10px;
}
.intro{
  text-align: center;
  position: absolute;
  
}
h3{
  font-size: 40px;
  left: 350px;
  font-style: italic;
  margin-top: 32%;
}
h1 {
  font-size: 70px;
  color: blue;
  left: 200px;
  margin-top: 35%;
}
#portfolioImage{
  border-radius: 50%;
  background-color: tomato;
  border-style: solid;
  width: 550px;
  height: 550px;
  position: absolute;
  right:150px;
  margin-top: 8%;
  background-image: "https://cdn4.vectorstock.com/i/1000x1000/45/83/person-icon-vector-25054583.jpg";
}
a .contactIcons{
  height: 20px;
  width: 20px;
}
#contact{
  height: 100px;
  width: 300px;
}
.linkDiv{
  height: 100px;
  width: 100px; 
}
